body{
	font-family: Tahoma, Geneva, sans-serif;
	background-image: url(images/back1.jpg);
	color: white;
	box-sizing: border-box;
	padding:0px;
	margin: 0px;
}
.content{
	width: 1000px;
	background: #302312;
	margin:0 auto;
	padding-top: 10px;
	padding-left: 40px;
}
.time-work {
	font-size: 12px;
	line-height: 40px;
}
.menu-list li{
	display: inline-block;
}
header ul.menu-list{
	margin: 0px 0px 10px 0px;
	padding: 0px;
}
.menu-list a{
	text-decoration: none;
	color:white;
	font-size: 15px;
	font-weight: bold;
	padding:20px 20px;
	line-height: 60px;
	background: #7cb45a;
	margin-left:-5px;
	border-left: 3px solid #228b22;	
}
.menu-list a:hover {
	background: yellow;
}
.menu-list li a.gr-wo:hover {
	color: #228b22;
}
.menu-list li:first-child a{
	border: none;
	border-top-left-radius: 10px;
}
.menu-list li:last-child a{
	border-top-right-radius: 10px;
	background: #51ac61;
}
.slider-img{
	width:980px;
	margin-left: -5px;
	height: 420px; 
	background-image: url(images/slider1.jpg);
	background-repeat: no-repeat;
	border-radius: 10px;
}
.slider-img img {
	background-color: rgba(36, 32, 27, 0.9);
	padding-right: 10px;
	padding-bottom: 15px;
	border-bottom-right-radius: 30px;
	border-top-left-radius: 10px;
	margin-bottom: 20px;
}