.foots-general {
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: -1;
}
.properties-submenu {
  background-color: rgba(38, 153, 38, 0.9);
  padding: 10px;
  line-height: 10px;
  margin-left: -10px;
  line-height: 20px;
  color: #80c155;
}
.properties-submenu-unactive {
  display: block;
  width: 200px;
  text-decoration: none;
  background: none;
}
