@import url(color.less);
@import url(img.less);

@text-decoration: none;
@list-style: none;

body {
	font-family: Tahoma, Geneva, sans-serif;
	background-image: @bg-body-img;
	color: @white;
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	cursor: @cursor-img, default;
}
.time-work {
	width: 500px;
	font-size:13px;
	float:left;
	padding-left: 40px;
}
.language-site {
	width: 440px;
	font-size: 13px;
	float: right;
	padding-right: 20px;
	text-align: right;
	& a {
		color: @light-green;
	}
	& a.active-a {
		color: @yellow;
		text-decoration: none;
	}
}
header {
	width:947px;
	padding:0px;
	& a {
		text-decoration: @text-decoration;
		color: @white;
		&:hover {

		}
	}
}
