@bg-body-img: url(../images/back1.jpg);


body {
	font-family: Tahoma, Geneva, sans-serif;
	background-image: @bg-body-img;
	background-color: red;
	color: white;
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	cursor: url(../images/cursor.png), default;
}
