body {
  font-family: Tahoma, Geneva, sans-serif;
  background-image: url(../images/back1.jpg);
  color: #ffffff;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  cursor: url(../images/cursor.png), default;
}
header {
  width: 947px;
  padding: 0px;
}
header a {
  text-decoration: none;
  color: #ffffff;
}
